body {
  background-color: #FFFAF1;
}

.container {
  background-color: #FFFFFF;
}

p {
	text-align: justify;
}

.btn-center {
	width: fit-content;
	margin: 0 auto;
	display: block;
}

.social-icon {
 font-size: 45px;
}

a {
	color: #6c757d;
}

a:hover, a:focus {
  color: #545b62;

h2 {
	margin-top: -0.2em !important;
}
