body {
  background-color: #F0F8FF;
}

.container {
  background-color: #FFFAF1;
}

p {
	text-align: justify;
}

.btn-center {
	width: fit-content;
	margin: 0 auto;
	display: block;
}

a {
	color: #6c757d;
}

a:hover, a:focus {
  color: #545b62;
